@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

a:link {
  color: var(--mainBlack);
  text-decoration: none;
}
a:visited {
  color: var(--mainBlack);
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: rgb(231, 226, 221); */
  z-index: 1;

  /* lo de abajo esta generado con ui.glass/generator */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 157, 81, 0.38);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.menu-container {
  position: fixed;
  top: 60px;
  width: 18vw;
  height: 300px;
  max-width: 300px;
  min-width: 200px;
  background-color: var(--primaryColor);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  transform: translateY(-2em);
  visibility: hidden;
  opacity: 0;
}
.menu-show {
  top: 60px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.menu-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  height: 100%;
}
.menu-ul li {
  text-align: center;
  padding: 5px 0;
  width: 100%;
}
.menu-ul li:hover {
  background-color: #eeaa6b;
}
/* --------------- End of Navbar ---------------- */

/* --------------- About ---------------- */
.about-container {
  position: fixed;
  top: 0;
  margin-top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: var(--primaryColor); */

  /* lo de abajo esta generado con ui.glass/generator */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 157, 81, 0.38);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.about-hide {
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  transform: translateY(-2em);
  visibility: hidden;
  opacity: 0;
}
.about-title {
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bolder;
}
.about-text {
  padding: 0 35px;
  font-size: 1rem;
  font-weight: bold;
}

.about-btn {
  padding: 1rem 3rem;
  margin: 30px 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: var(--mainGrey);
  color: var(--mainBlack);
  border: 1px solid var(--mainGrey);
  transition: var(--mainTransition);
  cursor: pointer;
  width: 200px;
}
.about-btn:hover {
  background: transparent;
  color: var(--mainGrey);
}

/* --------------- About end ---------------- */

/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  /* background: url("./images/hero-bcg.jpeg") center/cover no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  /* background: rgba(255, 255, 255, 0.8); */
  display: inline-block;
  padding: 5%;

  /* lo de abajo esta generado con ui.glass/generator */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 157, 81, 0.38);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.banner-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  height: 192px;
  object-fit: cover;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
  /* lo de abajo esta generado con ui.glass/generator */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(240, 157, 81, 0.38);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
  .about-container {
    top: 5vh;
    height: 80%;
    max-width: 500px;
    margin-left: calc(50vw - 250px);
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
.footer {
  display: flex;
  background: var(--primaryColor);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p {
  justify-self: flex-start;
  margin-left: 20px;
  color: #68492d;
}

.logo-github {
  width: 26px;
  margin-left: 5px;
}

.footer-repo {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-self: center; */
  font-size: 1.3rem;
  margin-right: 20px;
}
